html {
    font-family: 'Arial', serif;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

footer {
    margin: 3em;
    font-size: 12px;
}

@media (min-width: 721px) {
    .container {
        max-width: 80%;
        margin: 0 auto;
    }

    img {
        max-width: 16.66%;
    }
}

@media (min-width: 320px) and (max-width: 720px) {

    .container {
        width: 100%;
    }

    img {
        max-width: 20%;
    }

}
